.project {
    text-align: center; 
    padding: 15px;
    margin: 10px;
    background: #05647A; 
  }

.project-title {
  font-size: 20px; 
  margin: 10px 0;
}

.project-category {
  font-size: 15px; 
  margin: 5px 0; 
}

.project-image {
  margin: 20px 0; 
}