.home {
    width: 100%; 
    text-align: center; 
}

.h-header-block {
    width: 35%;
    margin: 20px auto;   
    padding: 15px; 
    border-bottom: 1px solid black;
}

.h-heading {
    text-align: center;
    margin: 0; 
}

.barbara-heading {
    font-size: 45px; 
}

.babs-heading {
    font-size: 38px; 
}

.h-main {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0; 
}

.h-content-block {
    min-width: 35%; 
    max-width: 500px; 
    padding: 20px; 
}

.teacher-line {
    text-align: left;
    font-size: 35px; 
    margin: 10px 10px; 
}

 .turned-dev-line {
     text-align: right;
     font-size: 30px; 
     margin: 10px 10px;
 }

 .in-Santiago-line {
    text-align: left;
    font-size: 25px; 
    margin: 10px 10px;
}

.last-line {
    text-align: center;
    font-size: 20px; 
    margin: 75px 10px;
}

.snickering-emoji {
    max-width: 50%; 
    height: auto; 
}

  .profile-pic {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
    border-radius: 20px; 
 }