body {
  background: pink; 
  font-family: "Righteous", cursive; 
}

body:-webkit-scrollbar {
  display: none;
}

.navigation {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  box-sizing: border-box;
  padding: 25px 50px; 
  max-height: 100px; 
}

li {
  display: inline;
  margin: 15px; 
  font-size: 20px; 
}

.code-icon {
  max-width: 100%;
  height: auto;   
}


a {
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-evenly;
}

